.wrapper {
  padding: 50px 15px;
  max-width: 750px;
  width: 100%;

  @media (max-width: 900px) {
    max-width: 100%;
    padding: 0 15px 50px;
  }

  .categories {
    margin-bottom: 35px;
    color: rgb(84, 84, 84);
    font-weight: 300;
  }

  h2 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 500;
  }

  span {
    display: block;
    margin-bottom: 25px;

    color: grey;
    text-decoration: underline;
  }

  .descr {
    border: 1px solid rgb(218, 218, 218);
    padding: 15px;
    width: 100%;
    min-height: 200px;
    font-size: 17px;
  }

  .btnLink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: auto;
    max-width: 200px;
    padding: 20px 10px;
    border: 1px solid #000;

    transition: scale 0.2s ease;

    &:hover {
      scale: 1.05;
    }
  }
}
